<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

  <body style="background-color: #e6dace;">
    <!-- Navbar -->
    <%- include('navbar.ejs') %>
      <!-- Form -->
      <div class="form-card card">
        <p class="form-info">Want to get in touch? Have a burning question? Fill out the form below to send me a message
          and
          I will get back to you as soon as possible!</p>
        <form class="" id="contact-form" method="POST">
          <div class="form-input">
            <h3 class="form-label">Name:</h3>
            <input type="text" name="name" required>
          </div>
          <div class="form-input">
            <h3 class="form-label">Email:</h3>
            <input type="email" name="email" required>
          </div>
          <div class="form-input" id="msg-input">
            <h3 class="form-label" id="msg">Message:</h3>
            <textarea name="msg"></textarea>
            </input>
          </div>
          <button class="submit-btn btn">Submit</>
        </form>

      </div>

  </body>

</html>