<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

  <body>
    <%- include('navbar.ejs') %>
      <div class="row" id="home-row">
        <div class="col-md-6 row" id="img-panel">
          <div class="profile-card col-md-7">
            <div class="card">
              <img class="card-img-top profile-img" src="/imgs/avatar.jpeg">
              <div class="card-body">
                <h3 class="profile-name">Justin Diep</h3>
                <p class="profile-card-bar"></p>
                <p class="profile-desc">SOFTWARE DEVELOPER</p>
                <div class="socials-bar-wrapper">
                  <div class="socials-bar">
                    <a class="social-link fab fa-github fa-2x" href="https://github.com/justindiep17"></a>
                    <a class="social-link fab fa-linkedin fa-2x"
                      href="https://www.linkedin.com/in/justin-diep-962b0a1a3/"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="color-block col-md-4"></div>
        </div>
        <div class="col-md-6" id="text-panel">
          <h1>Hello!</h1>
          <h2>Nice to meet you, I'm Justin</h2>
          <div class="col-md-12 home-btns-container">
            <a class="btn col-md-5 home-btn" id="resume-btn" href="/resume.docx"
              download="Justin_Diep_résumé">Résumé</a>
            <a class="btn btn-dark col-md-5 home-btn" id="contact-btn" href="/contact">Contact</a>
          </div>
          <p>
            I'm a second year Computer Science student at the University of Waterloo.
          </p>
          <p>
            I'm currently seeking Winter 2022 internships.
          </p>
          <p>
            Whether its producing useful mobile apps or designing sleek websites, I have a passion for creating amazing
            new things with
            code.
          </p>
        </div>
      </div>

      </nav>
  </body>

</html>

<!-- <img class="profile-img" alt="Profile Image" src="/imgs/avatar.png">
<h3 class="profile-name">Justin Diep</h3>
<p class="profile-card-bar"></p>
<p class="profile-desc">SOFTWARE DEVELOPER</p>
<div class="socials-bar">
  <a class="social-link fab fa-github fa-2x"></a>
  <a class="social-link fab fa-linkedin fa-2x"></a>
</div> -->