#text-panel {
  padding: 18vh 8% 0vh 3%;
  z-index: 2;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}
.row > * {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home-row {
  flex: 1;
}

/* Navbar */

.navbar {
  padding: 1vh 5vh;
  width: 100%;
  margin: none;
  background-color: white;
  z-index: 3;
}

.navbar-toggler {
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-toggler-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: none !important;
}

.navbar-toggler-icon i {
  color: black;
}
.navbar-brand {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 2rem;
  color: black;
  letter-spacing: 1px;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.25rem;
  color: black;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: #0458b8;
}

/* Img Panel */

#img-panel {
  background-color: #e6dace;
  min-height: 90vh;
  display: flex;
  flex-direction: row-reverse;
}

.color-block {
  background-color: white;
  position: relative;
  left: 80%;
  height: 100%;
}

.profile-card {
  box-shadow: -20px 20px 14px 	rgba(0,0,0, 0.25);
  min-height: 75%;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
  padding: 0;
  z-index: 2;
}

.profile-card .card {
  background-color: #f5ede9;
  border: 1px solid #ede5e1;
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.profile-img {
  border-radius: 50%;
  width: 60%;
  height: 40%;
  margin: 10% 20% 0%;
  object-fit: cover;
}

.card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-name {
  font-family: 'Roboto';
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 5% 20% 4%;
}

.profile-card-bar {
  background-color: #0458b8;
  width: 32%;
  margin: 0% 34%;
  height: 2vh;
}

.profile-desc {
  font-family: 'Cabin';
  margin: 5% 10%;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.socials-bar-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  margin: none;
  padding: none;
}

.socials-bar {
  background-color: white;
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  padding: 10px 10%;
  text-align: center;
  height: calc(3.1em + 6px);
}

.social-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 3px;
}

.social-link:hover {
  color: #0458b8;
}

/* Text panel */

h1 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 4.75rem;
  letter-spacing: 1px;
  margin: 0rem;
}

h2 {
  font-family: 'Cabin';
  font-size: 1.75rem;
  margin: 0rem;
  padding: 0rem;
  font-weight: 500;
}

p {
  font-family: 'Cabin';
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0.4rem 0rem;
}

.home-btns-container {
  margin: 1.5rem 0rem;
}

.home-btn {
  font-family: 'Cabin';
  font-size: 1.25rem;
  font-weight: 400;
}

#resume-btn {
  background-color: #0458b8;
  border: 1px solid #0458b8;
  color: white;
}

#contact-btn {
  background-color: white;
  border: 1px solid black;
  color: black;
}


/* 'contact.ejs' */

.form-card {
  display: flex;
  flex-direction: column;
  background-color: #f5ede9;
  height: 100%;
  width: 100%;
  box-shadow: -20px 20px 14px 	rgba(0,0,0, 0.25);
  border: 1.5px solid #ded8d5;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.form-info {
  margin: 0% 8% 2.5%;
  font-size: 1.25rem;
}

#contact-form {
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-family: "Roboto";
  font-size: 1.25rem;
  margin: 0% 8%;
}

input[type=text], input[type="email"] {
  width: 84%;
  margin: 2% 8%;
}

#msg-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#msg-input textarea {
  flex: 0.95;
  width: 84%;
  margin: 2% 8%;
  height: 100%;
}

.submit-btn {
  flex: 0.05;
  margin: 2% 8%;
  width: auto;
  font-family: "Roboto";
  font-size: 1rem;
  background-color: #0458b8;
  border: 1px solid #0458b8;
  color: white;
}

.submit-btn:hover {
  color: white;
}

/* Projects Page */
#projects-page {
  height: 100%;
  width: 100%;
  background-color: #f5ede9;
}
#projects-display {
  padding: 0 5vh;
  margin: 5vh 0vh;
  margin-left: -15px;
  background-color: #f5ede9;
}

.project-panel {
  padding: 0px 15px;
  margin-bottom: 5%;
}

.project-panel .card {
  height: 100%;
  background-color: white;
  border-radius: 0%;
  box-shadow: -20px 20px 14px 	rgba(0,0,0, 0.25);
  border: 1px solid black;
}

.project-img {
  border-radius: 0%;
}
.project-card-body {
  padding: 0.8rem 15px;
}

.project-title {
  margin-bottom: 0.5rem;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 2.2rem;
}

.attributes-row {
  padding: 0;
  margin-bottom: 0.5rem;
}

.project-attribute-tag {
  padding: 1px;
  margin: 0;
  display: inline-block;
}

.project-attribute-tag span {
  background-color: rgba(4, 88, 184, 0.55);
  color: black;
  border-radius: 10%;
  text-align: center;
  font-family: "Cabin";
  font-weight: 400;
  font-size: 1.1rem;
  padding: 3px 5px;
}




@media only screen and (max-width:767px) {
  #text-panel {
    padding: 5% 5vh;
  }
  #img-panel {
    min-height: 0;
    height: auto;
  }
  .profile-card {
    min-height: 0;
    height: auto;
    margin: 0;
    box-shadow: none;
    width: 100%;
  }

  .profile-card .card {
    height: auto;
    border: none;
  }

  .profile-img {
    width: 30%;
    margin: 5% 35% 0%;
  }
  .socials-bar {
    background-color: #e6dace;
  }
  .color-block {
    display: none;
  }
  .project-panel {
    margin: 4vh 0;
  }
}